body {
  background-color: black;
}
button {
  padding: 50px 50px 50px 50px;
}
h1 {
  font-size: 100px;
  color: whitesmoke;
  background-color: black;
  text-align: center;
  border-style: solid;
  border-width: medium; /* sets border width on all sides */
  box-shadow: 5px 10px;
}
img {
  height: 250px;
  width: 350px;
}
