body {
  background-color: blueviolet;
}
button {
  display: inline-block;
  margin: 300px;
  background: #b06f97;
  color: #333;
  font-size: 3em;
  font-family: ‘Georgia’, serif;
  border-radius: 10px;
  padding: 8px 16px; /* space around text */
}

h1 {
  font-size: 100px;
  color: black;
  background-color: white;
  text-align: center;
  border-style: double;
  border-width: medium; /* sets border width on all sides */
  border-color: black;
  box-shadow: 5px 10px;
}
